

#center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 1;

  @media (max-width: 1024px) {
    padding: 32px 20px 24px;
    gap: 18px;
  }
}

.homescene, .restfixes {
position: relative;
width: 90%;
height: auto;
background-size: cover;
background-position: center;
}

.bizname {
position: absolute;
top: 18%;
color: #ffffff;
transform: rotate(-4.5deg);
}

.homebutton {
top:140%;
left:35%;
width: 125;
height:200;
position:absolute;
opacity: 0;
}

.menucard {
position: absolute;
background-position: center;
width: 60%;
height: auto;
top: 5%;
left: 10%;
}


.Menu {
position:absolute;
top:160%;
left:37%;
width: 300px;
height: 200px;
transform: rotate(-4deg);
opacity: 0;
}

.Specials {
position:absolute;
top:62%;
left:60%;
width: 250px;
height: 420px;
transform: rotate(4.8deg);
opacity: 0;
}

.Contact {
position:absolute;
top:58%;
left:42%;
width: 100px;
height: 460px;
opacity: 0;
}

.About {
position:absolute;
top:6%;
left:27%;
width: 700px;
height: 200px;
transform: rotate(-3.5deg);
opacity: 0;
}


.splhead {
position: absolute;
top: 10%;
left: 28%;
color: white;
font-family:'Lucida Handwriting',cursive;}

.splitems {
position: absolute;
top: 24%;
left: 32%;
color: beige;}

.menucontents {
position: absolute;
top:25%;
left: 20%;
color: white;
}

.menuhead {
color: #fff;
position: relative;
left: 50%;
top: -4px;
}

.menusubl {
color: yellow;}


.contactwhatsapp {
position: absolute;
top: 15%;
left: 35%;
font-size: 40px}

.contactinsta {
position: absolute;
top: 43%;
left: 35%;
font-size: 40px
}

.contactcall {
position: absolute;
top: 69%;
left: 35%;
font-size: 40px
}

.contacthead {
position: absolute;
top: 78%;
left: 65%;
font-size: 40px
}


.BackButton {
color: white;
background-color: blue;
top:10%;}


